@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#oppo{
  width:400px;
  border-style:hidden;
  margin-top: 0px;
}
.nav{
  display:flex;
  justify-content: space-between;
  background-color:#1f2327;
  padding:15px 20px;
  flex-wrap: wrap;
  height:66px;
  position:sticky;
}
.list{
  display:flex;
  gap:20px;
}
li{
  list-style: none;
}
li>a{
  text-decoration: none;
  color:white;
  font-size:16px;
}
#search{
  height:30px;
  width:150px;
  border-radius:9px;
}
.logo1{
  height:50px;
  width:100px;
  border-radius:10px;
  margin-left: 20px;
}
#toggle, label{
  display:none;
}
@media(max-width:580px){
  .list{
    width:100%;
    flex-direction: column;
    align-items: center;
    display: none;
    padding:20px;
    color:white;
    background-color:#1f2327;
  }
  label{
    display:block;
    color:white;
  }
  #toggle:checked~.list{
    display:flex;
  }
}

.maincont{
  position:absolute;
}
.sub{
  height:70vh;
  width:100vw;
  background-image: url(../images/banner-11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.sub{
  position: absolute;
}
.sub h1,h3{
  margin-top: 90px;
  margin-left: 200px;
  font-size: 85px;
  font-weight: 600;
}
.container1{
  margin-top: 550px;
  background-color:whitesmoke;
  height:80px;
  position: relative;
}
.container1 > .row1 > .main2 > button{
  color:white;
  background-color:black;
  margin-top: 20px;
  margin-left: 90px;
  font-size: 30px;
  border-radius:10px;
  width:200px;
}

.container3{
  position:absolute;
  height:80px;
  width:100%;
}
.container3 > .main3{
  background-image: url(../images/final-reno12.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:70vh;
  width:100vw;
}
.main3 h1,h3{
  margin-top: 90px;
  margin-left: 40px;
  font-size: 75px;
  font-weight: 600;
}
 #get{
  color:yellow;
  background-color:black;
  font-size: 20px;
  margin-left: 300px;
  margin-top: 60px;
  width:120px;
  height:50px;
  margin-right: 70px;
  border-radius: 10px;
}
#put{
  color:yellow;
  background-color:black;
  font-size: 20px;
  width:120px;
  height:50px;
  border-radius: 10px;
}
#fieldset{
  width:60vw;
  height:50vh;
  margin-left: 50px;
  
}
.container4{
  position:absolute;
  height:80px;
  width:100%;
  margin-top: 500px;
}
.container4 > .main4{
  background-image: url(../images/oppoN-12.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:70vh;
  width:100vw;
}
.main4 h1,h3{
  margin-top: 80px;
  margin-left: 40px;
  font-size: 75px;
  font-weight: 600;
}
#get2{
  color:white;
  background-color:black;
  font-size: 20px;
  margin-left: 300px;
  margin-top: 60px;
  width:120px;
  height:50px;
  margin-right: 70px;
  border-radius: 10px;
}
#put2{
  color:white;
  background-color:black;
  font-size: 20px;
  width:120px;
  height:50px;
  border-radius: 10px;
}

#get3{
  color:red;
  background-color:black;
  font-size: 20px;
  margin-left: 300px;
  margin-top: 60px;
  width:120px;
  height:50px;
  margin-right: 70px;
  border-radius: 10px;
}
#put3{
  color:red;
  background-color:black;
  font-size: 20px;
  width:120px;
  height:50px;
  border-radius: 10px;
}
.par{
  background-color:white;
  height:10vh;
  width:99vw;
  margin-top: 1100px;
  display:flex;
  position:absolute;
}
.par >h3{
  margin-top: 20px;
}
.par >h5{
  margin-left: 1000px;
  margin-top: 20px;
}
.peric{
  position:absolute;
  height:80px;
  width:100%;
  margin-top: 1200px;
}
.peric>.main5{
  background-image: url(../images//reno-last.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height:70vh;
  width:100vw;
  position: absolute;
}
.main5 h1{
  margin-top: 90px;
  font-size: 61px;
}
.peric  .subperic{
  margin-top: 200px;
  width:450px;
  background-color:white;
  border-radius:10px;
  margin-left: 20px;
}
.peric  .subperic>p{
  text-decoration: underline;
}

.overal{
  position:absolute;
  height:60vh;
  width:90vw;
  margin-top: 1720px;
  display:flex;
  background-color:white;
  gap: 120px;
}
.left>.pain>h1,h4{
 margin-top: 0px;
 margin-left: 50px;

}
.right>.pain>h1,h4{
  margin-top: 0px;
  margin-left: 50px;
}
.right>.pain>p{
  text-decoration: underline;
}
.left>.pain>p{
  text-decoration: underline;
}
.overal>.left{
  height:54vh;
  width:68vw;
  background-color:whitesmoke;
  margin-left: 50px;
}
.overal>.right{
  height:54vh;
  width:48vw;
  background-color: whitesmoke;
}
.left>.pain>.min1{
  height:300px;
  width:300px;
  margin-left: 300px;
  /* position: absolute; */
}

.right>.pain>.imgspe>.min{
  display: flex;
  height:300px;
  width:300px;
  margin-left: 420px;
  /* position: absolute; */
}


.manditory{
  display:flex;
  height:10vh;
  width:70vw;
  /* background-color: yellow; */
  margin-top: 1840px;
  margin-left: 250px;
  gap: 10px;
  border-radius: 16px;
  /* position:absolute; */
}
.session1{
  height:90vh;
  width:110vw;
  background-color: whitesmoke;
  margin-top: 340px;
}
.session2{
  height: 90vh;
  width:99vw;
  background-color: whitesmoke;
  margin-top: 340px;
  /* margin-left: 500px; */
}
.session1>img{
  height: 430px;
  width: 430px;
  background-color: silver;
  margin-left: 70px;
  border-radius: 10px;
}
.session2>img{
  border-radius: 10px;
  background-color: silver;
  height: 430px;
  width: 430px;
  margin-left: 40px;
}
#sec2 > h4{
  margin-top: 80px;
  margin-left: 110px;
}
#sec2 > p{
  margin-top: 30px;
  text-decoration: underline;
}
#sec1 > h4{
  margin-top: 80px;
  margin-left: 110px;
}
#sec1 > p{
  margin-top: 30px;
  text-decoration: underline;
}
.slidemain{
  background-color:whitesmoke;
  height:60vh;
  width:90vw;
  margin-top: 930px;
  margin-left: 80px;
  display: flex;
}
.slidemain > .slide1{
  height:58vh;
  width:30vw;
  /* background-color:yellow; */
  margin-top: 10px;
  margin-left: 10px;
}
.slidemain > .slide1 > .imgsli1>img{
  height:300px;
  width:450px;
  transition: all 0.3s ease;
}
.slidemain > .slide1 > .imgsli1>img:hover{
  transform: scale(1.04);
  cursor:pointer;
  border-radius:10px;
}
.slidemain > .slide1 >h1{
  font-size: 20px;
}
.slidemain > .slide1 >h4{
  font-size: 15px;
}
.slidemain > .slide2{
  height:58vh;
  width:30vw;
  /* background-color:green; */
  margin-top: 10px;
  margin-left: 10px;
}
.slidemain > .slide2 > .imgsli2> img{
  height:300px;
  width:450px;
  transition: all 0.3s ease;
}
.slidemain > .slide2 > .imgsli2>img:hover{
  transform: scale(1.04);
  cursor:pointer;
  border-radius:10px;
}
.slidemain > .slide2 >h1{
  font-size: 20px;
}
.slidemain > .slide2 >h4{
  font-size: 15px;
  margin-top: 40px;
}
.slidemain > .slide3{
  height:58vh;
  width:30vw;
  /* background-color:blue; */
  margin-top: 10px;
  margin-left: 10px;
}
.slidemain > .slide3 > .imgsli3>img{
  height:300px;
  width:450px;
  transition: all 0.3s ease;
}
.slidemain > .slide3 > .imgsli3>img:hover{
  transform: scale(1.04);
  cursor:pointer;
  border-radius:10px;
}
.slidemain > .slide3 >h1{
  font-size: 20px;
}
.slidemain > .slide3 >h4{
  font-size: 15px;
  margin-top: 40px;
}
.comunity{
  background-color:whitesmoke;
  width:90vw;
  height:20vh;
  margin-left: 80px;
  margin-top: 40px;
}
.scrollmain{
  /* flex-direction: column; */
  /* flex-wrap: nowrap; */
  /* flex-basis: auto; */
  display: flex;
  justify-content: space-between;
  height:40vh;
  width:97vw;
  background-color:whitesmoke;
  margin-top: 50px;
}
.scrollmain > .scroll1{
  width:300px;
  height:40vh;
  /* background-color: green; */
}
.scrollmain > .scroll1 >img{
  height:40vh;
  width:300px;
  transition: all 0.3s ease;

}
.scrollmain > .scroll1 > img:hover{
  transform: scale(1.04);
  cursor:pointer;
  border-radius:10px;
  box-shadow: 10px 2px 10px 2px grey;

}
.scrollmain > .scroll2{
  width:200px;
  height:40vh;
  background-color: yellow;
  /* margin-left: 600px; */
}
.scrollmain > .scroll2 > img{
  width:200px;
  height:40vh;
  transition: all 0.3s ease;

}
.scrollmain > .scroll2 > img:hover{
  transform: scale(1.04);
  cursor:pointer;
  border-radius:10px;
  box-shadow: 10px 2px 10px 2px grey;

}
.scrollmain > .scroll3{
  width:300px;
  height:40vh;
  background-color: blue;
  /* margin-left: 600px; */
}
.scrollmain > .scroll3 > img{
  width:300px;
  height:40vh;
  transition: all 0.3s ease;

}
.scrollmain > .scroll3 > img:hover{
  transform: scale(1.04);
  cursor:pointer;
  border-radius:10px;
  box-shadow: 10px 2px 10px 2px grey;

}
.scrollmain > .scroll4{
  width:200px;
  height:40vh;
  background-color: black;
  /* margin-left: 600px; */
}
.scrollmain > .scroll4 > img{
  width:200px;
  height:40vh;
  transition: all 0.3s ease;

}
.scrollmain > .scroll4 > img:hover{
  transform: scale(1.04);
  cursor:pointer;
  border-radius:10px;
  box-shadow: 10px 2px 10px 2px grey;

}
.scrollmain > .scroll5{
  width:300px;
  height:40vh;
  background-color: pink;
  /* margin-left: 600px; */
}
.scrollmain > .scroll5 > img{
  width:300px;
  height:40vh;
  transition: all 0.3s ease;

}
.scrollmain > .scroll5 > img:hover{
  transform: scale(1.04);
  cursor:pointer;
  border-radius:10px;
  box-shadow: 10px 2px 10px 2px grey;
}
.support{
  display:flex;
  width:80vw;
  height:60vh;
  background-color:white;
  margin-left: 170px;
  margin-top: 30px;
}
.support > .sup1{
  height:60vh;
  background-color:whitesmoke;
  width:30vw;
}
.support > .sup2{
  height:60vh;
  background-color:whitesmoke;
  width:50vw;
}
.support > .sup2 > h3{
  margin-top: 35px;
  margin-left: 160px;
}
.support > .sup2 > h3 > a{
  text-decoration: none;
  color:black;
  transition: all 0.4s ease;
}
.support > .sup2 > h3:hover{
  transform: scale(1.04);
}
.footer{
  height:85vh;
  width:100vw;
  background-color:black;
  color:white;
  margin-top: 50px;
}
.end0{
  display:flex;
}
.end0 > .endmain1 > li{
  margin-left: 50px;
  gap: 30px;
  margin-top: 10px;
}
.footer2{
  display:flex;
}
.footer2 > #android{
  margin-top: 8px;
  font-size: 30px;
  margin-left: 60px;
}
.footer2 > h4{
  margin-left: 200px;
}
.footer2 > p{
  margin-left: 550px;
  margin-top: 10px;
  font-size: 20px;
}
.footer2 > p > #new{
  gap: 20px;
  margin-right: 20px;
}
.over{
  display:flex;
}
.over > p{
  margin-left: 40px;
}
.over > .back{
  margin-left: 500px;
}
.over > .back > i{
  margin-left: 10px;
  margin-top: 10px;
}